subscription_id = "00000000-0000-0000-0000-000000000000"
ghcr_token = "ghp_dummytoken"
neon_api_key = "napi_dymmyapikey"
cloudflare_api_token = "cfut_apitoken"
r2_account_id = "r2accountid"
r2_bucket = "r2bucket"
r2_access_key_id = "r2accesskey"
r2_secret_access_key = "r2secretaccesskey"
r2_public_base_url = "https://something.r2.dev"